<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <h1 class="primary-heading">Text Summarization</h1>
      <div class="text">
        Text summarization has become one of the most important yet challenging
        tasks in Natural Language Processing (NLP). The resurgence of deep
        learning has greatly advanced this field by neural generation models.
        Our project focuses on generating News Headlines when provided with a
        news article. The aim of this is to condense a document while the
        condensed content retains the core meaning of the original document. The
        text summarization method consists of extractive summarization and
        abstractive summarization. Headline generation is an abstractive
        summarization subtask. To generate headlines that compress the
        information in a longer text or a shorter text, we need to train a large
        news dataset either by building a model from scratch or using a
        pre-trained model.
      </div>
      <div class="flex">
        <div class="div-one">
          <div class="section-one">
            <form action="{{url_for('Summarize')}}" method="post">
           
            <textarea
              name="data"
              cols="30"
              rows="10"
              placeholder="Enter your Data"
              id="textarea"
            ></textarea>
          </div>
        </div>
        <div class="div-two">
          <div class="section-one">
            <select multiple="multiple" class="options">
              <option id="option1" value="After much wait, the first UDAN flight took off from Shimla today after being flagged off by Prime Minister Narendra Modi.The flight will be operated by Alliance Air, the regional arm of Air India. PM Narendra Modi handed over boarding passes to some of passengers travelling via the first UDAN flight at the Shimla airport.Tomorrow PM @narendramodi will flag off the first UDAN flight under the Regional Connectivity Scheme, on Shimla-Delhi sector.Air India yesterday opened bookings for the first l">Article 1</option>
              <option id="option2" value="Union minister Vijay Goel today batted for the unification of the three municipal corporations in the national capital saying a discussion over the issue was pertinent. The BJP leader, who was confident of a good show by his party in the MCD polls, the results of which will be declared tomorrow, said the civic bodies needed to be revamped in order to deliver the services to the people more effectively. The first thing needed was a discussion on the unification of the three municipal corporation">Article 2</option>
          </select>
          <button id="test">Select</button>

          </div>
          <div class="section-two">
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
        <div class="div-three">
          <textarea
            rows="10"
            cols="30"
            name="result"
            placeholder="results will arrive here"
          >
{{result}}
</textarea
          >
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='styles/script.js')}}"></script>
  </body>
</html>
