@import "https://use.typekit.net/oov2wcw.css";

html {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  text-align: center;
  /* color: white; */
  background-color: #f7f7f7;
}

.main {
  background-color: white;
  /* color: black; */
  width: 65vw;
  margin: 10vh auto;
  padding: 7vh 7vw;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 87px -34px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 87px -34px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 87px -34px rgba(0, 0, 0, 0.75);
}

.main h1 {
  margin-top: 0;
  margin-bottom: 2vh;
}

.text {
  text-align: justify;
  margin-bottom: 3rem;
}

.div-two {
  margin: 0 2vw;
  color: white;
}

.div-two button {
  width: 10rem;
  height: 2rem;
  font-family: century-gothic, sans-serif;
  font-weight: 600;
  background-color: #24245c;
  color: white;
  border: none;
  border-radius: 50px;
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .div-two button {
    font-size: auto;

    width: 5rem;
    margin: 1vh 0;
    background-color: #24245c;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-two .section-two input {
  /* width: 200rem !important; */
}

textarea {
  outline: none;
  border-radius: 5px;
  width: 25vw;
  height: 25vh;
  -webkit-box-shadow: 0px 0px 30px -34px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -34px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -34px rgba(0, 0, 0, 0.75);
}
